<div class="jumbotron text-center">
    <h1>All Events</h1>
</div>

<% if (success.length > 0) { %>
    <div class="alert alert-success"><%= success %></div>
<% } %>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        <% for (var event of events) { %>
            <tr>
                <td><%= event.name %></td>
                <td><%= event.description %></td>
                <td>
                    <a href="/events/<%= event.slug %>" class="btn btn-sm btn-primary">View</a>
                    <a href="/events/<%= event.slug %>/edit" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/events/<%= event.slug %>/delete" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>

    </tbody>
</table>